<?xml version="1.0" encoding="utf-8" ?>
<config>
   <params>
        <param name="latitude" 
            type="text" 
            default="" 
            label="Default Latitude" 
            description="The Default latitude to use for new locations" />        
        <param name="longitude" 
            type="text" 
            default="" 
            label="Default Longitude" 
            description="The Default longitude to use for new locations" />
   </params>
    <fieldset
            name="Common"
            label="Common"
            description="Common">
            <field name="example" type="text" default="example" label="Example" description="You can change this in components backend in the config.xml"  />
    </fieldset>		   
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
            >

            <field
                    name="rules"
                    type="rules"
                    label="JCONFIG_PERMISSIONS_LABEL"
                    class="inputbox"
                    validate="rules"
                    filter="rules"
                    component="com_berthtool"
                    section="component" />
    </fieldset>	
</config>